<!DOCTYPE html >
<html 
	lang="en" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/layout.html}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>부트</title>
</head>
<body>
	<main layout:fragment="content" class="container">
		<h1>게시글 상세</h1>
		<!-- <input type="hidden" id="po_num" th:value="${post.po_num}"> -->
		<div class="input-group form-group">
			<div class="form-control col-3">제목</div>
			<div class="form-control" th:text="${post.po_title}"></div>
		</div>
		<div class="input-group form-group">
			<div class="form-control col-3">작성일</div>
			<div class="form-control col-9" th:text="${post.po_date}"></div>
		</div>
		<div class="input-group form-group">
			<div class="form-control col-3">작성자</div>
			<div class="form-control" th:text="${post.po_me_id}"></div>
		</div>
		<div class="input-group form-group">
			<div class="form-control col-3">조회수</div>
			<div class="form-control" th:text="${post.po_view}"></div>
		</div>
		<div class="d-flex justify-content-center mb-3 btns-like">
			<button class="btn btn-outline-success mr-2 btn-like" data-state="1">추천</button>
			<button class="btn btn-outline-danger btn-like" data-state="-1">비추천</button>
		</div>
		
		
		<div class="form-group">
			<div class="form-control" th:utext="${post.po_content}" style="height: auto; min-height: 100px;"></div>
		</div>
		<div>
			<a class="form-control mb-2" 
				th:each="file : ${list}" 
				th:href="@{/file{num}(num=${file.fi_name})}" 
				th:text="${file.fi_ori_name}" 
				th:attr="download=${file.fi_ori_name}"></a>
		</div>
		
		<div class="d-flex justify-content-between">
			<a th:href="@{/post/list/{num}(num=${post.po_bo_num})}" class="btn btn-outline-success">목록으로</a>
			<th:block sec:authorize="isAuthenticated()"><!--로그인한 회원만 접근-->
				<div th:if="${#authentication.principal.member.me_id == post.po_me_id}" class="d-flex"><!--로그인한 유저와 게시글 작성자 같은 경우에만 삭제버튼 보여줌-->
					<a th:href="@{/post/update/{num}(num=${post.po_num})}" class="btn btn-outline-warning">수정</a>
					<form th:action="@{/post/delete/{num}(num=${post.po_num})}" method="post">
						<button class="btn btn-outline-danger ml-2">삭제</button>
					</form>

				</div>
			</th:block>
		</div>
		
		<hr>
		<div class="comment-container">
			<div class="comment-wrap">
				<div class="comment-list form-group">
					<div class="comment-item form-control" style="height: auto;">
						<div>아이디</div>
						<div>내용</div>
					</div>
				</div>
			</div>
			<form class="comment-insert-wrap input-group">
				<textarea name="" id="" class="form-control comment-content"></textarea>
				<div class="input-group-append">
					<button class="btn btn-outline-success">등록</button>
				</div>
			</form>
		</div>



		<script th:inline="javascript">
			let cri = {
				page : 1,
				po_num : '[[${post.po_num}]]'

			}
			displayComments(1);

			$(".comment-insert-wrap").submit(function(e){
				e.preventDefault();
				//alert(1);
				const content = $(".comment-content").val();
				let comment = {
					co_po_num : "[[${post.po_num}]]",				//에러날수 있으니(null일 경우) 따옴표
					co_content : content
				}//co_ori_num은 댓글에는 필요 x
				console.log(comment);
				$.ajax({
					url : "/comment/insert",
					method : "post",
					data : JSON.stringify(comment),
					contentType : "application/json",			
					//dataType : "", 		
					success : function(data){
						if(data) {
							alert("댓글등록!");
							$(".comment-content").val('');
							displayComments(1);	
						} else alert("댓글 등록 실패.");
					}

				});
			});
			function displayComments(page){
				//alert(cri);
				cri.page = page;
				$.ajax({
					url : "/comment/list",
					method : "post",
					data : JSON.stringify(cri),
					contentType : "application/json",			
					//dataType : "", 		
					success : function(data){
						//console.log(data);
						$(".comment-wrap").html(data);
					}

				});
			}
			function deleteComment(num){
				$.ajax({
					url : "/comment/delete",
					method : "post",
					data : {co_num : num},
					//contentType : "application/json",			
					//dataType : "", 		
					success : function(data){
						//console.log(data);
						alert(data ? "댓글 삭제!" : "댓글 삭제 실패!");
						displayComments(cri.page);
					}
				});
			}
		</script>

		<script th:inline="javascript">			//서버에서 보낸 데이터들 활용할 수 있음		-> input:hidden 같은거 안해도 서버에서 보낸 게시글 번호 타임리프로 받아올 수 있음
			displayLikeBtns();

			$(document).on("click", ".btn-like", function(){
				if([[${#authentication.principal}]] == "anonymousUser"){
					alert("로그인이 필요한 서비스입니다.");
					return;
				}

				let state = $(this).data("state");	// $(this).attr("data-state"); 와 같음
				let obj = {								//보낼 데이터		
					li_state : state,
					//li_po_num : $("#po_num").val()
					li_po_num : [[${post.po_num}]]
				}
				
				$.ajax({			//비동기통신으로
					url : "/post/like",
					method : "post",
					data : JSON.stringify(obj),
					contentType : "application/json",			//json 으로 보내기
					//dataType : "", 		
					success : function(data){
						//console.log(data);
						switch(data){
							case 0 : 
								alert(`${state == 1 ? "추천" : "비추천" } 취소했습니다.`);
								break;
							case 1 : 
								alert("추천!");
								break;
							case -1 : 
								alert("비추천!");
								break;
						}
						displayLikeBtns();
					},
					error : function(xhr, status, error) {
						console.log(xkr.status);
						console.log(xhr.responseText);
						console.log(error);
						alert("로그인이 필요한 서비스");
					}
				})
			});


			function displayLikeBtns(){

				$.ajax({			//위에서 복사해옴	//버튼들 뿌려주기 위한
					url : "/post/like",
					method : "get",
					data : {po_num : [[${post.po_num}]]},
					//contentType : "application/json",			
					//dataType : "", 		
					success : function(data){
						//console.log(data);
						$(".btns-like").html(data);
					}
				})
			}
		</script>


		<script th:inline="javascript">

		</script>
	</main>
</body>
</html>