<!DOCTYPE html >
<html 
	lang="en" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout.html}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>부트</title>
	

</head>
<body>
	<main layout:fragment="content" class="container">
		<h1>게시글 수정</h1><!--게시글 등록 가져옴-->
		<form th:object="${post}" th:action="@{/post/update/{num}(num=${po_num})}" method="post" enctype="multipart/form-data">
			<!--게시판 수정은 빼기-->
			<div class="form-group">
				<label>제목</label>
				<input th:field="*{po_title}" class="form-control"/><!--th:filed하면 id name 다 적용됨->po_title로 가져올수있음-->
			</div>
			<div class="form-group">
				<label>내용</label>
				<textarea th:field="*{po_content}" class="form-control" rows="15"></textarea>
			</div>
			<div id="comment">
				<button type="button" class="btn btn-outline-success mb-2" id="btn-comment-insert">댓글 추가</button>
			</div>
			<div class="mb-3 form-group" id="att">
				<label>첨부파일</label>
				<div class="form-control d-flex justify-content-between mb-2" th:each="file : ${fileList}"><!--x버튼을 양 끝으로-->
					<span th:text="${file.fi_ori_name}"></span>
					<!--<span data-target="${file.fi_num}">&times;</span><!--fi_num을 넣고 싶은데 문자열이 들어감-->
					<span class="btn-del" th:attr='data-target=${file.fi_num}'>&times;</span><!--x버튼-->	<!--data-target 안에 따옴표 제거(중요)-->
					

				</div>
				<input type="file" name="fileList" class="form-control mb-2" th:each="num : ${#numbers.sequence(1,3 - fileList.size())}"><!--homecontroller예제의 th:each 확인-->
			</div>
			<button class="btn btn-outline-success col-12">게시글 등록</button>
		</form>


		<script>
			$(".btn-del").click(function(){
				let fi_num = $(this).data("target");
				//alert(fi_num);
				$("#att").append(`<input type="hidden" name="dels" value="${fi_num}"/>`);
				$("#att").append(`<input type="file" name="fileList" class="form-control mb-2"/>`);
				$(this).parent().remove();
			});

		
		</script>
	</main>
</body>
</html>