<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.spring2.dao.PostDao">

	<!-- select id="selectBoardList" resultType="kr.kh.spring2.model.vo.BoardVO" 파일 경로 이미 지정돼있으니-->
	<select id="selectBoardList" resultType="BoardVO">
		select * from board order by bo_num asc
	</select>

	<select id="selectPostList" resultType="PostVO">
		select post.*, fi_name as po_fi_name from post 
		left join file on po_num = fi_po_num
		where po_del = "N"
		<if test="criteria.po_bo_num !=0"><!-- if 안에는 속성이 들어갈수가 없음. po_bo_num 이름이 같아도 무조건 dao에서 넘겨준 po_bo_num --> and po_bo_num = #{criteria.po_bo_num}</if>	
		group by po_num						<!-- group by 할때 SET GLOBAL sql_mode = 'STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION'; 해줘야함(없는애들 묶여서) -> 3일차 dml_select에 있음 -->
		order by ${criteria.orderBy}		<!-- 속성값#이 아니라 속성명$이기 때문에(쿼리 자체를 변환) -->
		limit #{criteria.pageStart}, #{criteria.perPageNum}
	</select>
	
	<select id="selectCountPostList" resultType="int">
		select count(*) from post
		where po_del = "N"
		<if test="criteria.po_bo_num !=0"> and po_bo_num = #{criteria.po_bo_num}</if>	
	</select>
	
	<select id="selectPost" resultType="PostVO">
		select post.*, bo_name as po_bo_name from post	<!-- as 생략 가능한데 그냥 넣어줌 -->
		join board on bo_num = po_bo_num
		where po_num = #{po_num} and po_del="N"
	</select>
	
	<select id="selectFileList" resultType="FileVO">
		select * from file 
		where fi_po_num = #{po_num} 
	</select>
	
	<insert id="insertPost" useGeneratedKeys="true" keyProperty="po_num">	<!-- key 가져오려고. param 빼서 post.po_num이 아니라 po_num으로 -->
		insert into post(po_bo_num, po_me_id, po_title, po_content)
		value(#{po_bo_num},#{po_me_id},#{po_title},"")	<!-- 객체에 param 안 붙이면 post.po_bo_num이 아니라 이렇게 사용... po_content는 not null이라 빈문자열을 대신 넣어줌 -->
	
	</insert>
	
	<insert id="insertFile">
		insert into file(fi_name, fi_ori_name, fi_po_num)
		value(#{fi_name},#{fi_ori_name},#{fi_po_num})
	</insert>
	
</mapper>
